/* Pokedex.css */
.pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  width: 25%; /* Defina a largura dos cards para que três caibam em uma linha */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.pokemon-card:hover {
  transform: scale(1.05);
}